$shadow: rgba($color: #000000, $alpha: 0.35);
$primary: rgb(143, 173, 235);
$secondary: rgb(107, 76, 229);
$r: 15px;

.card {
    width: 200px;
    max-height: 300px;
    background-color: rgba($color: #000000, $alpha: 0.25);
    border-radius: $r;
    margin: 1% 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    align-items: center;
    opacity: 1;

    box-shadow: 0 0 10px $shadow,
                0 0 20px $shadow,
                0 0 35px $shadow;
}

.card_prop:hover {
    transition: 0.3s;
    > .button {
        box-shadow: 0 0 7px $secondary,
                0 0 14px $secondary,
                0 0 30px $secondary;
    }

    > img {
        filter: drop-shadow(0 0 10px white);
    }
}

.card img {
    transition: 0.3s;
    max-width: 100%;
}

.card h3 {
    text-shadow: 0 0 10px white,
                0 0 20px white,
                0 0 35px white;
}

.card .enter {
    text-decoration: underline;
    text-shadow: 0 0 10px $primary,
                0 0 20px $primary,
                0 0 35px $primary;
}

.button {
    font-size: 120%;
    margin: auto 0 0;
    display: block;
    width: 100%;
    padding: 3px 0;
    box-shadow: 0 0 7px $secondary;

    border-radius: $r;
    background-color: $secondary;
    transition: 0.3s;
}

.lore {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    & > .loreLine {
        text-shadow: 0 0 10px white,
                    0 0 20px white,
                    0 0 40px white;
    }
}

