$primary: white;
$sec: rgb(202, 102, 223);

table {
    border-collapse: collapse;
    font-size: 18px;
    border-radius: 15px;
    background: rgba(160, 160, 160, 0.1);
    transition: 0.3s;
}

th {
    padding: 8px 10px;
    border: 1px solid rgba(160, 160, 160, 0.1);
    transition: 0.3s;
}

thead {
    background-color: $primary;
    color: black;
    transition: 0.3s;
    box-shadow: 0 0 10px $primary,
            0 0 20px $primary,
            0 0 40px $primary,
            0 0 5px $primary;
}

th.inline {
    position: relative;
    padding-left: 50px;
}

th.inline img {
    position: absolute; 
    left: 15px; 
    top: 50%;
    transform: translateY(-50%);
    width: 24px; 
    height: 24px;
    object-fit: cover; 
}

tr.classic {
    transition: 0.3s;
}

tr.classic:nth-last-of-type(even) {
    background: rgba(95, 95, 95, 0.35);
}

tr.classic:hover {
    text-shadow: 0 0 10px $primary,
                0 0 20px $primary;
    box-shadow: 0 0 5px $sec,
                0 0 10px $sec,
                0 0 20px $sec,
                0 0 40px $sec,
                inset 0 0 5px $sec,
                inset 0 0 10px $sec;
}

tbody:hover + thead {
    box-shadow: none;
}

tbody:hover tr:not(:hover) {
    opacity: 0.56;
}

.opacity {
    opacity: 0;
}