table {
    border-collapse: collapse;
    font-size: 18px;
    border-radius: 15px;
    background: rgba(160, 160, 160, 0.1);
}

th {
    padding: 8px 10px;
}

th.reason {
    border: 1px solid rgba(160, 160, 160, 0.1);
}

thead {
    background-color: white;
    color: black;
    transition: 0.5s;
}

tr.classic {
    transition: 0.3s;
}

tr.classic:nth-last-of-type(even) {
    background: rgba(95, 95, 95, 0.35);
}

tr.classic:hover {
    color: rgb(216, 148, 231);
    text-shadow: 0 0 10px black;
}

thead:hover {
    background: rgba(221, 221, 221, 0.8)
}